{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <h1 class="hello">hello world</h1>
    <a href="{% url 'djangoSeminar:temp' %}">a태그로 페이지 이동</a>
    <form action="{% url 'djangoSeminar:index' %}" method="POST">
    {% csrf_token %}
        <h2>sign in</h2>
        <div class="input_row">
            <label for="id_">ID</label>
            <input id="id_" name="id_" />
        </div>
        <div class="input_row">
            <label for="pw">PW</label>
            <input id="pw" name="pw" type="password" />
        </div>
        <button type="submit">확인</button>
        <span class="result"></span>
    </form>
{% endblock %}

{% block js %}
    <script>
        const is_authenticate = JSON.parse({{ login_success|lower }});
    </script>
    <script src="{% static "js/index.js" %}"></script>
{% endblock %}
